# Database
POSTGRES_DB=pkmscan_db
POSTGRES_USER=pkmscan_user
POSTGRES_PASSWORD=pkmscan_password

# AWS GENERAL
AWS_REGION_NAME=eu-west-3
AWS_STORAGE_BUCKET=pkmscan-storage
AWS_RAW_IMG_QUEUE_URL=https://sqs.eu-west-3.amazonaws.com/xxx/queue

# AWS PROFILES (Local dev)
AWS_PROFILE_WEB=pkmscan-web
AWS_PROFILE_PROCESSOR=pkmscan-processor

# YOLO for ml_trainer
YOLO_MODEL_PATH=models/latest_seg.pt
YOLO_RUN_NAME=v1

# IMG PROCESSOR
YOLO_SEG_MODEL_S3KEY=models/latest_seg.pt
YOLO_SEG_MODEL_LOCALPATH=/tmp/seg.pt
